/*
 *Author: Alexis Pechon
 *Student Number: x19358953
 *Student Email: x19358953@student.ncirl.ie
 *File: style.css
 *Date: 28/02/2023
*/

h1{
    /*
    color: red;
    */
    font-family: Georgia, 'Times New Roman', Times, serif;

}

p{
    /*
    color: orangered;
    */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

#apple{
    height: 400px;
    width: 400px;
    
    border: 2px solid black;

    
    float: left;
}

.divTitle{
    text-align: center;
    padding: 16px;
    background: silver;
}

.homePageText{

    text-align: center;
}
.aboutUs{
    /*
    padding: 16px;
    margin: 0;
    bottom: 0;
    overflow: hidden;
    background: #333;
    color: white;
    */
    padding: 16px;
    bottom: 0;
    background: #333;
    color: white;

}
.gameLibrary{
    text-align: center;
    font-style: italic;
}
